#navbar .logo{
    float: none;
    text-align: center;
}

#navbar ul {
    float: none;
}

#navbar ul li {
    float: none;
    text-align: center;
}
#navbar ul li a{
    padding: 5px;
    border-bottom: #444 1px dotted;
}

/* Showcase */

#showcase .showcase-content {
    padding-top: 100px;
}

/* Home Info section */

.info-img{
display: none;
}

.info-content{
    float: none;
    width: 100%;
}

/* Features */

#features{
    height: auto;
    overflow: auto;
}
.box{
    height: auto;
    float: none;
    width: 100%;
}

/* About Info */
#about-info .info-right {
    float: none;
    width: 100%;
    margin-top: 30px;
}

#about-info .info-left {
    float: none;
    width: 100%;
}

.l-heading{

    text-align: center;
}

/* Contact Info */

#contact-info .box {
    padding: 10px 10;
    border-bottom: 1px #666 dotted;
}
