/* Text Colors */

.text-primary {
    color: #28a745 ;
}

.text-secondary {
    color: #0284d0;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 30px;
    text-align:center;
    background-color:#28a745;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background: #28a745;
    color: #fff;
}

.btn-secondary {
    background: #0284d0;
    color: #fff;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.btn-outline {
    border: 1px solid #f4f4f4;
}


/* Flex Items */
.flex-items {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
}

/* Flex Columns */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:30px;
}

.flex-columns h2 {
    font-size: 2.5rem;
}

/* Margins and paadings */
.my-1 {
    margin-bottom: 10px;
}

.my-2 {
    margin-bottom: 20px;
}

.my-3 {
    margin-bottom: 30px;
}

/* Background */
 
.bg-primary {
    background: #28a745;
    color: #fff;
}

/* Section Header */

.section-header {
    padding:40px;
    text-align: center;
}

.section-header h2 {
    font-size: 2.5rem;
}